@import url('reset.css');
@import url('cabecalho.css');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:ital@1&display=swap');

body {
    box-sizing: border-box;
    background-color: black;
    color: #5AC14C;
    font-family: 'Krona One', sans-serif;

}

.titulo 
{
    font-size: 2rem;
    margin-bottom: 20px;
   
}

.subtitulo
{
    margin-bottom: 10px;
}

.container 
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    height: 35em;
    width: 80em;
    
}

.radio
{
    accent-color: black;

}

.redes
{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input
{
  background-color: black;
  border: #5AC14C solid 1px;
  border-radius: 7px;
  color: white;
  line-height: 25px;
}

input:focus
{
    outline: none !important;
    border: #2a5e24 solid 1px;
}

.deisgner__motivo
{
    background-color: black;
    border: #5AC14C solid 1px;
    border-radius: 7px;
    resize: none;
    color: white;

}

.deisgner__motivo:focus
{
    outline: none !important;
    border: #2a5e24 solid 1px;
}

.botoes
{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: space-between;
}

.botoes_designer
{
    font-size: 0.5rem;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 15px;
    border: #5AC14C solid 2px;
    border-radius: 10px;
    font-family: 'Krona One', sans-serif;
    
}

.botoes_designer:hover
{
    background-color: rgb(36, 34, 34);
    cursor: pointer;
}